footer {
    .page-footer {
        bottom: 0;
        position: absolute;
    }
}

.navbar-fixed {
    .nav-extended {
        z-index: 9999;
    }

    #nav-mobile {
        display: flex;
        align-items: center;
        margin-right: 40px;
        height: 64px;

        input[type=search]:not(.browser-default) {
            margin: 0;
        }

        #signedIn {
            margin: 0 15px;

            .dropdown-trigger>* {
                margin: 0 2px;
            }

            .dropdown-content a {
                color: black;
            }

            i {
                font-size: 18px;
            }
        }

        .search-bar-wrapper {
            display: flex;
            align-items: center;
            position: relative;

            .search-bar {
                background: #fff;
                border: none;
                padding: 0 10px;
                width: 200px;
                transition: .5s;
                border-radius: 3px;
                margin-top: 8px;
                padding-right: 40px;
                height: 36px;

                &:focus {
                    border: none;
                    box-shadow: none;
                    width: 260px;
                }
            }

            .search-icon {
                position: absolute;
                right: 0;
                padding: 0 10px;
                border: none;
                background: none;
                cursor: pointer;

                &:hover {
                    background: none;
                }
            }
        }

        .btn.white {
            width: 100px;
            margin: 0 5px;

            &:hover {
                background: #e1e1e1 !important;
            }
        }
    }

    .cart {
        position: absolute;
        right: 0;
        transition: .3s;

        &:hover {
            background: none !important;
            color: #e1e1e1;
        }
    }

    .nav-content {
        .active {
            color: #ffffff !important;
            border-bottom: solid 2px white;
        }

        .tab {
            padding: 0 15px;
            color: #ffffffbd;

            a:hover {
                background-color: rgba(51, 51, 51, 0.50);
            }
        }
    }
}

.sidenav {
    width: 230px;

    form {
        width: 80%;
        margin: 0 auto;

        input[type=search]:not(.browser-default):focus {
            border-color: #424242;
            box-shadow: 0 1px 0 0 #424242;
        }
    }

    .buttons {
        margin-left: 30px;
    }

    li a {
        text-decoration: none;
    }
}

.swiper-container {
    width: 100%;
    margin-bottom: 50px;

    img {
        width: 100%;
    }
}

.container.products {
    margin: 100px auto;

    .no-product {
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #order {
    color: red;
    }

    .dropdown-content {
        z-index: 5 !important;
    }

    .noUi-connect {
        background: #424242;
    }

    .noUi-handle {
        width: 20px;

        &::before {
            left: 6px;
        }

        &::after {
            left: 11px;
        }
    }

    .loader-wrapper {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price-range-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .priceInput {
        width: 55px;
        height: 30px;
        margin: 0 5px;
    }

    #setprice {
        text-decoration: none;
        margin-left: 10px;
        color: white;
        background-color: #424242;
        padding: 0 6px;
        border-radius: 2px;
    }

    .card {

        .card-image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            height: 200px;
            overflow: hidden;

            img {
                object-fit: contain;
                max-height: 180px;
            }
        }

        .card-content {
            padding: 10px;
            color: black;
            height: 140px;

            .card-title {
                font-size: 1.4rem;
            }

            .card-desc {
                font-size: .9rem;
            }
        }

        .card-action {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn.grey.darken-3.white-text {
                font-size: .9rem;
            }
        }
    }

}

.product-page {
    display: flex;
    justify-content: center;
    width: 80%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 100px auto;

    .col.s5 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 350px;

        img {
            max-height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .col.s7 {
        .page-price {
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.tabs {
    display: flex;
    justify-content: center;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .auth-wrapper {
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
}

@media(max-width:1200px) {

    .products {
        .card .card-image img {
            object-fit: contain;
            max-height: 160px;
        }

        .card-action {
            flex-direction: column;

            .btn {
                width: 100%;
            }
        }
    }
}

@media(max-width: 1100px) {
    #nav-mobile .search-bar {
        width: 100px !important;

        &:focus {
            width: 120px !important;
        }
    }

    .product-page {
        flex-direction: column;
        width: 100%;
        margin-top: 0;

        .col.s5 {
            width: 100%;
            height: 250px;
        }

        .col.s7 {
            width: 100%;
        }
    }
}

@media(max-width: 992px) {
    .nav-wrapper.container {
        width: 100%;

        .sidenav-trigger {
            margin: 0;

            i {
                width: 40px;
            }
        }

        .cart {
            margin-left: 10px;
        }
    }

    .nav-content {
        display: none;
    }

    .cart {
        left: 0;
    }
}

@media(max-width: 740px) {
    .swiper-container {
        display: none;
    }

    .container.products .col.s3 {
        width: 50%;
    }
}

@media(max-width: 500px) {
    .container.products .col.s3 {
        width: 100%;
    }
}